# Set home page 
DirectoryIndex index.php

# Disallow Directory Listing
OPTIONS -INDEXES

# Redirect To Errors Pages 
ErrorDocument 403 http://mystories.ezyro.com/Errors/403.php
ErrorDocument 404 http://mystories.ezyro.com/Errors/404.php

